<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AWSWeb</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControlServlet</display-name>
    <servlet-name>ControlServlet</servlet-name>
    <servlet-class>com.mc.ControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlServlet</servlet-name>
    <url-pattern>/ControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Description</display-name>
    <servlet-name>Description</servlet-name>
    <servlet-class>com.mc.Description</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Description</servlet-name>
    <url-pattern>/Description</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LaunchConfig</display-name>
    <servlet-name>LaunchConfig</servlet-name>
    <servlet-class>com.mc.LaunchConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LaunchConfig</servlet-name>
    <url-pattern>/LaunchConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Control</display-name>
    <servlet-name>Control</servlet-name>
    <servlet-class>com.mc.Control</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Control</servlet-name>
    <url-pattern>/Control</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LaunchConfiguration</display-name>
    <servlet-name>LaunchConfiguration</servlet-name>
    <servlet-class>com.mc.LaunchConfiguration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LaunchConfiguration</servlet-name>
    <url-pattern>/LaunchConfiguration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createLC</display-name>
    <servlet-name>createLC</servlet-name>
    <servlet-class>com.mc.createLC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createLC</servlet-name>
    <url-pattern>/createLC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateLC</display-name>
    <servlet-name>CreateLC</servlet-name>
    <servlet-class>com.mc.CreateLC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateLC</servlet-name>
    <url-pattern>/CreateLC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLC</display-name>
    <servlet-name>DeleteLC</servlet-name>
    <servlet-class>com.mc.DeleteLC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLC</servlet-name>
    <url-pattern>/DeleteLC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAutoScaling</display-name>
    <servlet-name>CreateAutoScaling</servlet-name>
    <servlet-class>com.mc.CreateAutoScaling</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAutoScaling</servlet-name>
    <url-pattern>/CreateAutoScaling</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAutoScaling</display-name>
    <servlet-name>DeleteAutoScaling</servlet-name>
    <servlet-class>com.mc.DeleteAutoScaling</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAutoScaling</servlet-name>
    <url-pattern>/DeleteAutoScaling</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAutoScaling</display-name>
    <servlet-name>UpdateAutoScaling</servlet-name>
    <servlet-class>com.mc.UpdateAutoScaling</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAutoScaling</servlet-name>
    <url-pattern>/UpdateAutoScaling</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TerminateInstance</display-name>
    <servlet-name>TerminateInstance</servlet-name>
    <servlet-class>com.mc.TerminateInstance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TerminateInstance</servlet-name>
    <url-pattern>/TerminateInstance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TerminateAndUpdate</display-name>
    <servlet-name>TerminateAndUpdate</servlet-name>
    <servlet-class>com.mc.TerminateAndUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TerminateAndUpdate</servlet-name>
    <url-pattern>/TerminateAndUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PutScalingPolicy</display-name>
    <servlet-name>PutScalingPolicy</servlet-name>
    <servlet-class>com.mc.PutScalingPolicy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutScalingPolicy</servlet-name>
    <url-pattern>/PutScalingPolicy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteScalingPolicy</display-name>
    <servlet-name>DeleteScalingPolicy</servlet-name>
    <servlet-class>com.mc.DeleteScalingPolicy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteScalingPolicy</servlet-name>
    <url-pattern>/DeleteScalingPolicy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecutePolicy</display-name>
    <servlet-name>ExecutePolicy</servlet-name>
    <servlet-class>com.mc.ExecutePolicy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutePolicy</servlet-name>
    <url-pattern>/ExecutePolicy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginIn</display-name>
    <servlet-name>LoginIn</servlet-name>
    <servlet-class>com.mc.LoginIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginIn</servlet-name>
    <url-pattern>/LoginIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Command</display-name>
    <servlet-name>Command</servlet-name>
    <servlet-class>com.mc.Command</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Command</servlet-name>
    <url-pattern>/Command</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupCommand</display-name>
    <servlet-name>GroupCommand</servlet-name>
    <servlet-class>com.mc.GroupCommand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupCommand</servlet-name>
    <url-pattern>/GroupCommand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Filepath</display-name>
    <servlet-name>Filepath</servlet-name>
    <servlet-class>com.mc.Filepath</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filepath</servlet-name>
    <url-pattern>/Filepath</url-pattern>
  </servlet-mapping>
</web-app>